html, body {
  height: 100%;
  margin: 0;
}
h1, h2, h3 {
  font-family: 'Playball', cursive;
}
.main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(IMG_2179.JPG);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top;
}
.widen .main {
  background-size: 100% auto;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #08080840;
}
.content {
  text-align: center;
  width: 100%;
  margin: 14% 0 0;
  color: #ffffff;
  position: absolute;
  bottom: 52px;
}
.content .title {
  font-size: 3em;
  font-weight: normal;
}

.remaining-time .time-sec {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  margin-bottom: 15px;
  height: 55px;
  width: 70px;
  padding-top: 15px;
  border-radius: 100px;
  border: 1px solid #fff;
}
.remaining-time .time-sec .title {
  font-size: 1.5em;
  line-height: 1;
  display: block;
}
